    layout {
        gaps 6 // Keep windows close to screen edges without fully removing breathing room
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        focus-ring {
            // Keep focus visible without a prominent one-window highlight.
            width 1
            active-color "#7fc8ffaa"
            inactive-color "#50505066"
        }

        default-column-width {
            proportion 1.0
        }

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
            proportion 1.0
        }

        struts {}
    }
