window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    open-on-workspace "main"
}

window-rule {
    match app-id=r#"firefox$"#
    open-on-workspace "browser"
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}
